.file-container {
  width: 200px; height: 20px;
  position: relative;
}
.file-container:hover {
  cursor: pointer;
}
.overlapped {
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0; margin: 0;
  opacity: 0.1;
  width: 100%;
}
.overlap {
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  background: #eee;

  border: 2px solid #000;
  border-radius: 20px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  width: 550px;
  height: 250px;
  display: block;
  text-align: center;
  padding-top: 60px;
  font-size: 30px;
}




.imagesContainer{
  display: flex;
  flex-wrap: wrap;
  margin-top: 210px;
}


.imgHolder{
  width: 150px;
  height: 150px;
  position: relative;
  margin-top: 40px;
  border: 1px solid #000;
}
.imgHolder{
  margin-left: 20px;
}


.img{
  width: 100%;
  height: 100%;
}

.deleteBtn{
  width: 20px;
  height: 20px;
  border: 1px solid #000;
  border-radius: 50%;
  box-sizing: border-box;
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #fff;
}
.deleteBtn::after{
  content: '×';
  margin-top: -1px;
  margin-left: 4px;
  display: block;
}
.deleteBtn:hover{
  cursor: pointer;
}